{% extends 'base.html' %}
{% load static %}



{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
             {% for rs in products %}
            <div class="single-hero-items set-bg" data-setbg="{{rs.image.url}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>{{ rs.category }}</span>
                            <h1>{{ rs.title }}</h1>
                            <p>£{{ rs.price }}</p>
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>20%</span></h2>
                    </div>
                </div>
            </div>
            {% endfor %}
   
      <script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Webpage",
  "name": "Buy Weed Online In The UK | Weed Store",
  "url": "https://buyweedsonline.co.uk/",
  "image": "https://buyweedsonline.co.uk/media/images/weed.png",
  "description": "Buy weed online in the UK,and order the  cannabis in the UK from the best online dispensary in the UK, Buy different types of weed strains online in the UK From our online store, Buy Catridges in the uk, Buy CBD Oil in the UK and more in the Uk"

}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://buyweedsonline.co.uk/category/1/weed-flowers",
      "name": "Weed Strains",
      "image": "https:/buyweedsonline.co.uk/media/images/weed.png"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "https://https://buyweedsonline.co.uk/category/9/weed-vape-pens-cartridges",
      "name": "Vape Pens and Catridges",
      "image": "https://buyweedsonline.co.uk/media/images/weed.png"
    }
  },{
    "@type": "ListItem",
    "position": 3,
    "item": {
      "@id": "https://buyweedsonline.co.uk/category/6/weed-pre-rolls",
      "name": "Weed Pre Rolled Joints",
      "image": "https://buyweedsonline.co.uk/media/images/weed.png"
    }
  },{
    "@type": "ListItem",
    "position": 4,
    "item": {
      "@id": "https://buyweedsonline.co.uk/category/6/weed-pre-rolls",
      "name": "CBD Products",
      "image": "https://buyweedsonline.co.uk/media/images/weed.png"
    }
  }]
}
</script>      
<!--
            <div class="single-hero-items set-bg" data-setbg="{% static 'website/img/hero-2.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Bag,kids</span>
                            <h1>Black friday</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore</p>
                            <a href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>50%</span></h2>
                    </div>
                </div>
            </div>
-->
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <a href="/category/"><img src="{% static 'website/img/bannn1.png' %}" alt=""></a>
                        <div class="inner-text">
                            <h4>Weed Flowers</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <a href="/category/"><img src="{% static 'website/img/bannn2.png' %}" alt=""></a>
                        <div class="inner-text">
                            <h4>Weed Edibles</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <a href="/category/"><img src="{% static 'website/img/bannn3.png' %}" alt=""></a>
                        <div class="inner-text">
                            <h4>Weed Products</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="{% static 'website/img/products/banner-down2.png' %}">
                        <h2>Cannabis Products</h2>
                        <a href="/category/">Discover More</a>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        
                        {% load myapptags %}
                        {% categorylist as category %}
                        {% load mptt_tags %}
                        <ul>
                             {% recursetree category %}
                        <li><a href="/category/{{node.id }}/{{ node.slug }}"> {{ node.title }}</a></li>
                        {% endrecursetree %}
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        
                        {% for rs in products_picked %}
                        
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{rs.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="/product/{{ rs.id }}/{{ rs.slug }}">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                    <h5>{{ rs.title }}</h5>
                                </a>
                                <div class="product-price">
                                     £{{ rs.price }}
                                    <span> £{{ variant.price }}</span>
                                </div>
                            </div>
                        </div>
                        
                          {% endfor %}
                        
                     
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    <!-- Deal Of The Week Section Begin-->
 {% for rs in products_review %}
    <section class="deal-of-week set-bg spad" data-setbg="{{rs.image.url}}">
        <div class="container">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Deal Of The Week</h2>
                    <p>Order Yours Now
                        And get 30% OFF </p>
                    
                    <div class="product-price">
                         £{{ rs.price }}
                        <span>/ {{ rs.title }}</span>
                    </div>
                </div>
                <div class="countdown-timer" id="countdown">
                    <div class="cd-item">
                        <span>56</span>
                        <p>Days</p>
                    </div>
                    <div class="cd-item">
                        <span>12</span>
                        <p>Hrs</p>
                    </div>
                    <div class="cd-item">
                        <span>40</span>
                        <p>Mins</p>
                    </div>
                    <div class="cd-item">
                        <span>52</span>
                        <p>Secs</p>
                    </div>
                </div>
                <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="primary-btn">Shop Now</a>
            </div>
        </div>
    </section>
 {% endfor %}
    <!-- Deal Of The Week Section End -->

    <!-- Man Banner Section Begin -->
    <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="filter-control">
                       {% load mptt_tags %}
                        <ul>
                             {% recursetree category %}
                        <li><a href="/category/{{node.id }}/{{ node.slug }}"> {{ node.title }}</a></li>
                        {% endrecursetree %}
                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        
                        
  {% for rs in products_slider1 %}
                        
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{{rs.image.url}}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="/product/{{ rs.id }}/{{ rs.slug }}">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Coat</div>
                                <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                    <h5>{{ rs.title }}</h5>
                                </a>
                                <div class="product-price">
                                     £{{ rs.price }}
                                    <span> £{{ variant.price }}</span>
                                </div>
                            </div>
                        </div>
                        
                          {% endfor %}
                        
                        
                        
                        
                     
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="product-large set-bg m-large" data-setbg="{% static 'website/img/products/banner-down.png' %}">
                        <h2>Cannabis Oil - Weed Pre Rolls</h2>
                        <a href="/category/">Discover More</a>
                         
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Man Banner Section End -->

    <!-- Instagram Section Begin -->
    <div class="instagram-photo">
        {% for rs in products_slider2 %}
        <div class="insta-item set-bg" data-setbg="{{rs.image.url}}">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">colorlib_Collection</a></h5>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
<!--
    <section class="latest-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                        <img src="{% static 'website/img/latest-1.jpg' %}" alt="">
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i>
                                    May 4,2019
                                </div>
                                <div class="tag-item">
                                    <i class="fa fa-comment-o"></i>
                                    5
                                </div>
                            </div>
                            <a href="#">
                                <h4>The Best Street Style From London Fashion Week</h4>
                            </a>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                        <img src="img/latest-2.jpg" alt="">
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i>
                                    May 4,2019
                                </div>
                                <div class="tag-item">
                                    <i class="fa fa-comment-o"></i>
                                    5
                                </div>
                            </div>
                            <a href="#">
                                <h4>Vogue's Ultimate Guide To Autumn/Winter 2019 Shoes</h4>
                            </a>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
-->
<!--
                <div class="col-lg-4 col-md-6">
                    <div class="single-latest-blog">
                        <img src="{% static 'website/img/latest-3.jpg' %}" alt="">
                        <div class="latest-text">
                            <div class="tag-list">
                                <div class="tag-item">
                                    <i class="fa fa-calendar-o"></i>
                                    May 4,2019
                                </div>
                                <div class="tag-item">
                                    <i class="fa fa-comment-o"></i>
                                    5
                                </div>
                            </div>
                            <a href="#">
                                <h4>How To Brighten Your Wardrobe With A Dash Of Lime</h4>
                            </a>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="benefit-items">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'website/img/icon-1.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Free Shipping</h6>
                                <p>For all order over  £99</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'website/img/icon-2.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Delivery On Time</h6>
                                <p>If good have prolems</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <img src="{% static 'website/img/icon-1.png' %}" alt="">
                            </div>
                            <div class="sb-text">
                                <h6>Secure Payment</h6>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- Latest Blog Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'website/img/logo-carousel/logo-1.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'website/img/logo-carousel/logo-2.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'website/img/logo-carousel/logo-3.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'website/img/logo-carousel/logo-4.png' %}" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="{% static 'website/img/logo-carousel/logo-5.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

   {% endblock %}